
.mainPage{
  display: flex;
  width: 78%;
  float: right;

  .pageSecton{
    flex: 1 0 70%;
    
  }

  .addBtn{
    flex: 1 0 30%;

    button{
      position: absolute;
      top: 23%;
      left: 80%;
      padding: 1%;
      width: 10%;
      font-size: 35px;
    }
  }
}

@media screen and (max-width: 768px){
  .mainPage{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  
    .pageSecton{
      flex: 1 0 100%;
    }
  
    .addBtn{
      flex: 1 0 30%;
  
      button{
        position: relative;
        top: 0;
        left: 0;
        padding: 3%;
        width: 50%;
        margin: 5%;
        font-size: 35px;
      }
    }
  }
}